.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* background-color: #474747; */
  
}
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
.btn{
    background-color:#30B868 ;
    border: none;
    padding: 13px 25px;
    border-radius: 4px;
    font-size: 16px;
    color: white;
    cursor: pointer
}
nav{
    width: 71%;
    max-width: 1140px;
     border: 1px solid red; 
    margin: 0px auto;
    display: flex;
     justify-content: space-between; 
    align-items: center;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}
#banner{
     position: relative;
     margin: 0 auto;
  
  width: 1600px;;
    
    height: 448px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 3px solid purple;
  padding: 80px 20px;
  background: url("../assets/hero-bg.png")
  
}
 .banner-badge{

  /* display: inline-block; */
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  /* border: 3px solid red; */
  padding: 7px 14px;
  background: #ffffff;
  margin-bottom: 15px;
  border-radius: 7px;
 
  /* background: #ffffff;
  color: #30B868;
   /* padding: 7px 500px;  */
   /* padding: 7px;
  border-radius: 999px;
  font-size: 10px; */
  /* font-weight: 183; */
  /* margin-bottom: 20px;  */
  /* text-align: center; */
  

}


#banner .banner-content h1{
    /* font-size: 40px;
    margin-bottom: 25px; */
    font-size: 56px;
  line-height: 1.15;
  font-weight: 800;
  margin-bottom: 20px;
  /* border: 3px solid green; */

}

 
.button{
    display: flex;
    flex-direction:row ;
    justify-content: center;
    gap: 10px;
    padding: 15px;
}
#banner .banner-content p{
    margin-bottom: 5px;

}
.white{
    color: #ffffff;
}
.blue{
    color:#30B868;
}
.pera{
    color: #ffffff;
}
.img-common{
    /* border: 3px solid red; */
    width: 30px;
    height: 30px;
    background-color: #F95555;
    border-radius: 50%;
     display: flex;
  align-items: center;
  justify-content: center;
  /* font-size: 24px; */

}

.section-heading{

    max-width: 827px;
     text-align: center; 
    margin:0 auto;
    border:2px solid #F95555;
    
}
.section-heading h2{
    font-size: 48px;
    margin-bottom: 20px;
    color: #001931;
    border: 1px solid blueviolet;
    padding: 10px;
}
.section-heading p{
    font-size: 16px;
    margin-bottom: 5px;
    color: #757575;
    padding-bottom:  10px;
}
#skills{
    padding-top: 20px;
}
.skill-box{
    padding-top: 44px;
}
 #skills  .skills-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
 }
  #skills    .skills-container .skill-box{
    display: flex;
    gap: 24px;
  }
  .skill-box .skill-card{
    padding: 30px 30px 0px 30px;
    /* border: 1px solid rebeccapurple; */
    box-shadow: 0 6px 50px 0 #00000027;
    max-width: 267px;
 }
  .skill-card{

     max-width: 44px; 
     margin-bottom: 30px; 
      display: flex;
      flex-direction: column
      ;
 
  justify-content: center; 
   align-items: center;
  font-size: 24px; 
  gap: 15px;

 } 
 .skill-card h3{
    font-size: 20px;
    color: #181818;
   
    text-align: center;

 }
 .skill-card p{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
   
    text-align: center;
    /* margin-bottom: 30px; */
 }
 .solution {
  padding: 90px 0;
}

.solution-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  gap: 70px;
}


.solution-image img {
  width: 100%;
  max-width: 480px;
}

.solution-content {
  max-width: 520px;
}

.solution-tag {
  font-size: 13px;
  font-weight: 600;
  color: #22c55e;
  letter-spacing: 1px;
}

.solution-content h2 {
  font-size: 42px;
  line-height: 1.2;
  margin: 14px 0 18px;
  color: #0f172a;
}

.solution-content p {
  font-size: 16px;
  line-height: 1.6;
  color: #64748b;
  margin-bottom: 26px;
}

.solution-list {
  list-style: none;
}

.solution-list li {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  margin-bottom: 16px;
  font-size: 15px;
  color: #334155;
  line-height: 1.5;
}

.solution-list li img {
  width: 18px;
  height: 18px;
  margin-top: 2px;
}
body {
  background-color: #ffffff;
}