.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* background-color: #474747; */
  
}
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
.btn{
    background-color:#30B868 ;
    border: none;
    padding: 13px 25px;
    border-radius: 4px;
    font-size: 16px;
    color: white;
    cursor: pointer
}
nav{
    width: 71%;
    max-width: 1140px;
     border: 1px solid red; 
    margin: 0px auto;
    display: flex;
     justify-content: space-between; 
    align-items: center;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}
#banner{
     position: relative;
     margin: 0 auto;
  
  width: 1600px;;
    
    height: 448px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 3px solid purple;
  padding: 80px 20px;
  background: url("../assets/hero-bg.png")
  
}
 .banner-badge{

  /* display: inline-block; */
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  /* border: 3px solid red; */
  padding: 7px 14px;
  background: #ffffff;
  margin-bottom: 15px;
  border-radius: 7px;
 
  /* background: #ffffff;
  color: #30B868;
   /* padding: 7px 500px;  */
   /* padding: 7px;
  border-radius: 999px;
  font-size: 10px; */
  /* font-weight: 183; */
  /* margin-bottom: 20px;  */
  /* text-align: center; */
  

}


#banner .banner-content h1{
    /* font-size: 40px;
    margin-bottom: 25px; */
    font-size: 56px;
  line-height: 1.15;
  font-weight: 800;
  margin-bottom: 20px;
  /* border: 3px solid green; */

}

 
.button{
    display: flex;
    flex-direction:row ;
    justify-content: center;
    gap: 10px;
    padding: 15px;
}
#banner .banner-content p{
    margin-bottom: 5px;

}
.white{
    color: #ffffff;
}
.blue{
    color:#30B868;
}
.pera{
    color: #ffffff;
}